@model PasswordManagementSystem.ViewModels.PasswordViewModel

@{
    Layout = "~/Views/Shared/UserSideMenuLayout.cshtml";
}

@section Styles {
    <link href="~/css/admin/addUpdatePassword.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
}

<div class="container">
    <input type="hidden" id="sessionUserId" value="@Model.UserId" />

    <ul class="password-list" id="passwordList">
        @foreach (var password in Model.Passwords)
        {
            <li class="password-item" data-id="@password.PasswordId">
                <span class="password-name">Password Name ->  @password.PasswordName</span><br />
                @if (password.Labels != null)
                {
                    @foreach (var label in password.Labels.Where(l => l.UserId == @Model.UserId))
                    {
                        <span class="label-text">Label name ->  @label.LabelText</span>
                    }
                }
            </li>
        }
    </ul>
</div>

<!-- Password Add/Edit Modal -->
<div id="passwordModal" class="modal">
    <div class="modal-content">
        <form>
        <span class="close">&times;</span>
        <input type="hidden" name="Password.PasswordId" id="passwordId" value="0" />
        <label for="passwordName">Password Name:</label>
        <input type="text" id="passwordName" name="Password.PasswordName" readonly />

        <label for="passwordValue">Password:</label>
        <div class="password-container">
            <input type="password" id="passwordValue" name="Password.EncryptedPassword" readonly />
            <i class="fas fa-eye" id="togglePassword"></i>
        </div>

        <label for="passwordLabel">Label:</label>
        <input type="text" id="passwordLabel" name="Label" readonly />

        <div id="creatorEmailContainer">
            <label for="creatorLabel">Creator Email:</label>
            <input type="text" id="creatorLabel" name="CreatorEmail" readonly />
        </div>

        <label for="roles">Roles:</label>
        <div id="rolesList">
            @foreach (var role in Model.Roles)
            {
                <div>
                    <input type="checkbox" name="RoleIds" value="@role.RoleId" id="role_@role.RoleId" class="role-checkbox">
                    <label for="role_@role.RoleId">@role.RoleName</label>
                </div>
            }
        </div>

        <div id="error-message" style="color: red;"></div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            const sessionUserId = $('#sessionUserId').val();

            function updatePasswordList() {
                $.get('/User/GetRequiredPasswords', function (data) {
                    let passwordListHtml = '';
                    data.forEach(password => {
                        passwordListHtml += `<li class="password-item" data-id="${password.passwordId}">
                                                            <span class="password-name">Password Name -> ${password.passwordName}</span><br>`;
                        if (password.labels) {
                            password.labels.forEach(label => {
                                passwordListHtml += `<span class="label-text">Label name -> ${label.labelText}</span>`;
                            });
                        }
                        passwordListHtml += `</li>`;
                    });
                    $('#passwordList').html(passwordListHtml);
                });
            }

            // Open modal to add new password
            $('#addPasswordButton').on('click', function () {
                openModal(0);
            });

            // Open modal to edit existing password
            $(document).on('click', '.password-item', function () {
                const passwordId = $(this).data('id');
                const userPassword = prompt("Please enter your account password:");
                $.post('/User/CheckUserPassword', { userPassword: userPassword }, function (response) {
                    if (response.success) {
                        openModal(passwordId);
                    } else {
                        alert("Incorrect password.");
                    }
                });
            });

            // Open modal function
            function openModal(passwordId) {
                const modal = $('#passwordModal');
                modal.show();
                $('#error-message').text('');
                $('#passwordId').val(passwordId);

                $.get(`/User/GetPassword`, { passwordId: passwordId }, function (data) {
                    $('#deleteButton').hide();
                    $('#passwordId').val(data.passwordId);
                    $('#passwordName').val(data.passwordName);
                    $('#passwordValue').val(data.encryptedPassword);
                    $('#creatorLabel').val(data.createdBy);
                    $('#passwordLabel').val(data.label ? data.label : '');

                    $('input[name="RoleIds"]').prop('checked', false).prop('disabled', true);
                    if (data.roles) {
                        data.roles.forEach(role => {
                            $(`#role_${role.roleId}`).prop('checked', true);
                        });
                    }
                }).fail(function () {
                    console.log("Password not found.");
                    alert("Password not found.");
                    $('#passwordModal').hide();
                });
            }

            // Toggle password visibility
            $(document).on('click', '#togglePassword', function () {
                const passwordField = $('#passwordValue');
                const type = passwordField.attr('type') === 'password' ? 'text' : 'password';
                passwordField.attr('type', type);
                $(this).toggleClass('fa-eye fa-eye-slash');
            });

            // Close modal
            $('.close').on('click', function () {
                $('#passwordModal').hide();
            });
        });
    </script>
}